#calculator {
  font-size: 20px;
  width: 260px;
  border: 2px solid black;
  border-radius: 4px;
  background-color: blue;
}

.outputContainer {
  color: white;
}

.operandButton {
  width: 20%;
  background-color: lightseagreen;
}

.operatorButton {
  font-family: monospace;
  width: 20%;
  background-color: yellow;
}

.zeroButton {
  width: 20%;
  background-color: lightseagreen;
  margin-left: 20%;
}